body {
	font-family: 'Crimson Text', arial, serif;
	margin: 0px;
	background-color: #efefef;
	font-size: 16pt;
}

h1, h2 {
	color: #F95;
	letter-spacing: 5px;
	margin: 0.5em 0;
}

p {
	margin: 0.5em 0;
}

h1 > a, h2 > a {
	color: #F95;
}

nav {
	margin: 0;
}

a {
	text-decoration: none;
	color: #888;
}

a:hover {
	color: #00F;
}

body > header {
	background-color: white;
	padding: 0 15px;
	padding-bottom: 0.5em;
	box-shadow: inset #efefef 0 -5px 10px;
}

body > header h1 {
	font-size: 24pt;
	margin: 0;
	display: inline-block;
}

body > header > nav {
	display: inline-block;
}

header a {
	margin-right: 20px;
}

article {
	display: block;
	margin: 0 auto;
	padding: 1em;
}

article:nth-of-type(even) {
  background-color: #f6f6f6;
  box-shadow: inset #efefef 0 -10px 10px, inset #efefef 0 10px 10px;
}

article > header, article > section {
	max-width: 40em;
	margin: 0 auto;
}

article > h1 {
	font-size: 20pt;
	margin: 0;
}

footer {
	position: fixed;
	bottom: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	background-color: white;
	white-space: nowrap;
}

footer span {
	padding-right: 10px;
}

@media all and ()
