body {
	font-family: 'Crimson Text', arial, serif;
	margin: 0px;
}

h1, h2 {
	color: #F95;
	letter-spacing: 5px;
}

h1 > a, h2 > a {
	color: #F95;
}

nav {
	margin: 15px 0;
}

a {
	text-decoration: none;
	color: #888;
}

a:hover {
	color: #00F;
}

body > header {
	margin: 15px;
}

body > header h1 {
	font-size: 24pt;
	margin: 10px;
	display: inline-block;
}

body > header > nav {
	display: inline-block;
}

header a {
	margin-right: 20px;
}

article {
	display: block;
	margin: 20px auto;
	max-width: 40em;
}

article > h1 {
	font-size: 20pt;
}

footer {
	position: fixed;
	bottom: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	background-color: white;
	white-space: nowrap;
}

footer span {
	padding-right: 10px;
}
