@media screen {
@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: normal;
  src: local('Special Elite'), local('SpecialElite-Regular'), url('http://themes.googleusercontent.com/font?kit=9-wW4zu3WNoD5Fjka35Jm_n8qdNnd5eCmWXua5W-n7c') format('woff');
}
}
