<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>{{ page.title }} - sthurlow.com</title>
		<link href='//fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/index.css" />
		<script src="/scripts/underscore-min.js"></script>
		<script src="/scripts/mustache.js"></script>
		<script src="/scripts/jquery-1.5.2.min.js"></script>
		<script src="/scripts/backbone-min.js"></script>
	</head>
	<body>
		<header>
			<h1><a href="/">steven thurlow</a></h1>
			<nav>
				<a href="/python/">python tutorial</a>
				<a href="http://twitter.com/stoive">twitter</a>
				<a href="http://stackoverflow.com/users/525940/stoive">stack overflow</a>
				<a href="http://github.com/stoive">github</a>
			</nav>
		</header>
		{{ content }}
	</body>
</html>
